<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

{% include "theme::partials/header" %}

<div class="container">

    <aside id="documentation" class="col-lg-6">

        {% set sections = ['preface', 'getting-started'] %}

        {% for section in sections %}
            <h4>{{ str_humanize(section, '-') }}</h4>

            <ul class="list-unstyled">
                {% for page in fizl.pages.in('documentation/' ~ request_segment(2) ~ '/' ~ section) %}
                    <li>{{ html_link(page.path, page.title) }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </aside>

    <div class="col-lg-18">

        <h1>{{ template.page.title }}</h1>

        <ul class="list-unstyled">
            {% for section in template.page.sections %}
                <li><a href="#{{ str_slug(section, '-') }}">{{ str_humanize(section, '-') }}</a></li>
            {% endfor %}
        </ul>

        <hr>

        {% block content %}{% endblock %}
    </div>

</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/js" %}

</body>
</html>
